<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>
<body>
    <h1>{{para}}</h1>
    <h2>flask 微型web、api框架</h2>
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
      <h1>Hello World!</h1>
    {%  endif  %}
    <form name="login" action="/login" method="post">
         <input name="uid" type="text" placeholder="uid" ><br>
         <input name="username" type="text" placeholder="username" ><br>
         <input name="password" type="password" placeholder="password"><br>
         {{ error}}<br>
         <button id="btn" type="submit">登录</button>
    </form>
</body>
</html>